<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>ServerPush</servlet-name>
        <servlet-class>com.somejavaeestuff.servlet.ServerPush</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerPush</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>